/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

#top, #index-banner {
  font-family:'Cinzel', serif;
  
} 

h1 {
  text-shadow: 0.1em 0.1em 0.2em black
}

a:hover{
  text-decoration: none;
  color: antiquewhite;
}

nav ul a,
nav .brand-logo {
  color: #444;
  font-family:'Cinzel', serif;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: green;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  padding-bottom: 10px;
}

#bg1 {
  width: 100%;
  height: auto;
}

#bg2 {
  width: 100%;
  height: auto;
}

#recipeCard {
  margin-right: 50px;
}

li {
  display: block;  
}
/* 
#footer{
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
}

#foot1{
  border: #444;
} */

.foot {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
}

#person {
  float: right;
  padding: 16px;
}

#copy {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  margin-top: 0;
}

li a {
  display: block;
  color: white;
  text-align: center;
  /* padding: 16px; */
  text-decoration: none;
}

li a:hover {
  color: black;
}